.dashboard-card {
  .productIcon {
    color: #afadab;
  }
  .count {
    font-size: 30px;
    color: #5b554f;
    font-weight: bold;;
  }
  .sub-count {
    font-size: 20px;
    color: #5b554f;
    font-weight: normal;;
  }
  .description {
    color: #5b554f;
    font-weight: normal;
    font-size: 16px;
  }
}