body {
  background-color: #f9f6f0;
  color: #61594f;
  height: 100%;
}

.app-screen {
  background-color: #f9f6f0;
}

.content {
  position:absolute;
  top: 130px;
  left:0px;
  right:0px;
  bottom:0px;
  overflow-y:scroll;     
}​

html {
  height: 100%;
}

