.toggle-button {
  display: flex;
  flex-direction: column;
  height: 24px;
  width:30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  justify-content: space-around;
  box-sizing: border-box;
  color: #fff
}

.toggle-button:focus {
  outline: none;
}

.toggle-button-line {
  width: 30px;
  height: 2px;
  background-color: #fff
}